@import url(../CSS/common.css);

*{
  box-sizing: border-box;
}

body {
  /* border: 2px solid yellow; */
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  /* display: block; */
}

.intro {
  position: relative;
  display: flex;
  flex-flow: colume;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.intro__title {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 90px;
}


.intro__button {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 8%);
  width: 80px;
  height: 80px;
  background: url(img/down-arrow.png) center/cover;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  width: 100vw;
  height: 100vh;
  letter-spacing: -0.04em;
  background-color: #fff;
}

#game__wrapper {
  position: relative;
  bottom: 0;
  margin-bottom: 100px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  min-height: 320px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff
}

.game__wrapper {
  /* border: 1px solid gray; */
  height: 400px;
  text-align: center;
  font-size: 18px;

}

.game__wrapper .game__title {
  /* background-color: yellow; */
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.game__wrapper .game__desc {
  /* background-color: pink; */

}
/* .game__image {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  block-size: cover;
  transition: bakgrount-image 250ms;
} */


