@import url(../CSS/common.css);
.container {
  width: 100vw;
  height: 1000px;
  background: #000;
}

.container .menu {
  width: 800px;
  height: 100%;
  background: #bfbfbf;
  margin: 0 auto;
}
.container .menu .menu-nav {
  width: 100%;
  height: 100px;
  background: #000;
  color: #fff;
  display: flex;
}
.container .menu .menu-nav .game-rule {
  flex: 1;
  text-align: center;
  line-height: 100px;
}
.container .menu .menu-nav .rock {
  flex: 3;
  text-align: center;
  line-height: 100px;
  font-size: 35px;
}
.container .menu .menu-nav .computer {
  flex: 1;
  text-align: center;
  line-height: 100px;
}
.container .menu .gamezone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88.6vh;
  /* border: 5px solid #000; */
  margin-top: 0px;
}
.container .menu .board {
  border: 1px solid yellow;
  flex: 1;
  display: flex;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  font-weight: bold;
}
.container .menu .board > li {
  flex: 1;
}
.container .menu .score {
  border: 1px solid purple;
  flex: 6;
}
.container .menu .userSelect {
  border: 1px solid red;
  flex: 2;
  display: flex;
}
.container .menu .userSelect > li {
  flex: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
